@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
    background-color: black;
	background-repeat: no-repeat;
	height: 2890px;
	width: 100%;
}
.main{
	height: 100%;
	width: 100%;
}
.logo{
	height: 60px;
	width: 150px;
	color: aliceblue;
	font-family: "VT323";
	font-size: 35px;
	float: left;
	cursor: default;
	margin-left: 80px;
	margin-top: 10px
}
.first{
	height: 100px;
	max-width: 200px;
	margin-top: 40px;
	margin-left: 80px;
}
a{
	text-decoration: none;
	color: aliceblue
}
.Box{
	background-color: aliceblue;
	height: 400px;
	width: 700px;
	margin-top: 160px;
	margin-left: 600px
}
.mail{
	height: 35px;
	width: 25px;
	float: left;
	margin-top: 3px
}
.form{
	margin-left: 120px;
	margin-top: 70px
}